@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


/* ****** STYLES ****** */ 


/* ****** GRID ****** */

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px; 
    float: left;
}


/* ****** HEADER ****** */



header h1 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px;
    padding: 45px 0;
    
}
header h1 span {
    color: #77a466;
}

header nav {
    display: inline-block;
    float: right;
    padding: 45px 0;
}

header nav li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}

header nav li a{
    color:#77a466;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

#header-img {
    height: auto;
    float: left;
    border: 5px solid #77a466;
}

#header-title {
    color: #77a466;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    clear: both;
    padding-top: 20px;
}

#header-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;

}


/* ****** BOTTOM ****** */ 


#menu-container {
    border-top: 1px solid #eee;
    margin-left: 25px;
}

#menu-title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
    padding: 10px 0;
}

#menu-list {
    list-style: none;
    padding-left: 0px;
}

#menu-list li{
    text-align: left;
}

#menu-list li a {
    color: #77a466;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

#review-container {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

#review-title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#review-text {
    margin: 16px 0;
    padding: 0 30px;
    line-height: 21px;
    font-size: 16px;
}

#address-container {
    border-top: 1px solid #eee;
    font-family: 'Montserrat', sans-serif;
}

#address-title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#address-text {
    margin: 16px 0;
    padding: 0 30px;
    line-height: 24px;
    font-size: 16px;
}



/* ****** FOOTER ******/

footer {
    border-top: 3px solid #eee;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 12px 0;
    text-align: center;
    text-transform: uppercase;
}


footer span {
    color: #77a466;
    font-family: 'Galada', cursive;
    text-transform: lowercase;
}